/* --------------elementor1------------ */
.elementor1 {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  background: url(../img/image/backback.jpg);
  background-repeat: no-repeat;
  background-position: right;
 
}

.elementor1-box1,
.elementor1-box2 {
  width: 29.688%;
  height: 68.1115%;
  place-content: 20px;
  position: relative;
  top: 10%;
}
.elementor1-box1 {
  padding-right: 90px;
}

.elementor1-box2 {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elementor1-box2-widget {
  width: 100%;
  height: 85.547%;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 55px 55px 55px 55px;
}

.elementor1-box1-title {
  color: #23252a;
}

.box1-title-brand {
  width: 100%;
  height: 160px;
  padding-bottom: 10px;
}

.title-brand-subtitle {
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: block;
}

.title-brand-seperator span {
  background-color: #ffc600;
  width: 42px;
  height: 3px;
}

.title-brand-band {
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  padding: 0;
}

.title-brand-text p {
  width: 100%;
  height: 104px;
  margin-bottom: 13px;
}
/* ----------------Box1----------------- */
.elementor1-box1 a {
  padding: 17px 30px 17px 30px;
  background-color: #ffc600;
  font-weight: 500;
}
/* -------------------Box2------------------- */

.box2-widget-brand {
  width: 100%;
  height: 75px;
  padding-bottom: 32px;
  font-size: 36px;
  font-weight: 700;
}

.edubin-single-event {
  height: 96.3%;
  width: 100%;
  padding-bottom: 25px;
}

.single-event-text {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* --hover */

.elementor1-box1-explore:hover {
  background-color: #0d2e51;
  color: #ffffff;
  transition: 0.8s;
}

/*------------------------ --------section----------------------------------------- */



.elementor1-section {
  width: 100%;
  height: 366px;
  display: flex;
  justify-content: center;
  padding-bottom: 40px ;
  z-index: -1;
   margin-bottom: 70px;
}

.elementor-section-container1,
.elementor-section-container2 {
  height: 366px;
  width: 29.688%;
  background-color: chocolate;
  padding: 60px 60px 70px 60px;
  color: #fff;
  font-family: "Montserrat", Sans-serif;
}

.elementor-section-container1 {
  background-color: #07294d;
}

.elementor-section-container2 {
  background-color: #092e56;
}

.section-container-brand {
  margin-bottom: 10px;
}

.container-brand-name {
  font-size: 30px;
  font-weight: 700;
  line-height: 43px;
  margin-bottom: 12px;
}

.section-container-p {
  margin-bottom: 44px;
}

.container-button-upper {
  padding: 16px 32px 16px 32px;
  border-radius: 3px;
  background-color: #ffc600;
  color: #07294c;
  font-weight: 500;
}

/* --hover */
.container-button-upper:hover {
  background-color: #0d2e51;
  color: #ffffff;
  transition: 0.1s;
  border: #ffffff;
  border-style: solid;
}

/* --------------Elementor2------------------ */

.elementor2 {
  background: url("../img/image/course-shape.png");
  background-size: cover;
  width: 100%;
  height: 897.083px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.elementor2-widget {
  width: 1140px;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 90px;
}

.elementor2-widget p {
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #23252a;
}

.widget-box-control {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
}

.widget-box-control p {
  font-family: "Montserrat", Sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  padding: 0;
  display: inline-block;
  color: #23252a;
}

.box-control-prev,
.box-control-next {
  position: relative;
  left: 47%;
  font-size: 22px;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  border: 2px solid #aaa;
  margin-left: 8px;
  margin-right: 8px;
}

/* --hover */
.box-control-prev:hover,
.box-control-next:hover {
  background-color: #ffc600;
  transition: 0.5s;
}

