/* ------------------------------------- */
.content-container-brand,
.widget-container-brand {
  position: relative;
  color: #23252a;
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 43px;
}

.content-container-brand::after,
.widget-container-brand::after {
  content: "";
  position: absolute;
  left: 0;
  top: 110%;
  height: 3px;
  width: 50px;
  background: #ffc600;
}

.content-container-title,
.widget-container-title {
  font-family: "Montserrat", Sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 58px;
  padding-top: 10px;
  padding-bottom: 23px;
  display: inline-block;
}

/* ---------Elementor6------------- */
.elementor6 {
  width: 100%;
  height: 757.267px;
  background: url(../img/image/course-shape.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elementor6-widget {
  height: 100%;
  width: 59.4%;
}

.elementor6-widget-content {
  width: 100%;
  height: 36%;
  padding: 70px 0 50px;
  display: flex;
  align-items: center;
}

.widget-content-container1,
.widget-content-container2 {
  padding-bottom: 10;
  width: 570px;
  height: 100%;
}

.widget-content-container2 {
  display: flex;
  align-items: center;
}

.content-container-redirect {
  width: 100%;
  height: 45%;
}

.content-container-redirect a {
  padding: 17px 30px 17px 30px;
  background-color: #ffc600;
  font-weight: 500;
  float: inline-end;
  border-radius: 5px;
}

.content-container-redirect a:hover {
  background-color: #0d2e51;
  color: #ffffff;
  transition: 0.8s;
}

.elementor6-widget-column {
  width: 100%;
  height: 63.9%;
  display: flex;
  padding: 0 10px 0 50px;
}

.widget-column {
  height: 89.2%;
  margin: 0 3.8% 2.992em 0;
  width: 22%;
}

.column-overlay {
  background-color: #edf0f2;
  height: 70.5%;
  width: 100%;
  display: flex;
  align-items: center;
}

.column-overlay img {
  width: 70%;
  height: 70%;
  margin: auto;
}

.widget-column p {
  font-family: "Montserrat", Sans-serif;
  padding-top: 10px;
  text-align: center;
  font-weight: 600;
}

.elementor6-column-name {
  padding-top: 20px;
  font-size: 24px;
  transition: all 0.5s ease;
  font-weight: 700;
  color: #07294d;
}
.overlay-icon {
	position: absolute;
        left: 1080px;
}
/* --hover */
.elementor6-column-name:hover {
  color: #ffc600;
}

/* .column-overlay :hover{
     position: relative;
     background-color: #07294d;
     z-index: 3;
} */

/* ---------Elementor7------------- */
.elementor7 {
  height: 769.5px;
  width: 100%;
  padding: 90px 0 70px;
}

.elementor7-widget {
  height: 100%;
  width: 59.4%;
  margin: auto;
}

.elementor7-widget-content {
  height: 152px;
  width: 100%;
}

.elementor7-widget-column {
  width: 100%;
  height: 71.8%;
  display: flex;
}

.elementor7-column {
  height: 100%;
  width: 39.5%;
  margin-left: 12px;
  margin-right: 12px;
}

.elementor7-column img {
  width: 100%;
  height: 52.5%;
}

.column-new {
  display: flex;
  width: 100%;
  margin: 8px 0 5px;
}

.column-new-time,
.column-new-user {
  display: flex;
  align-items: center;
  margin: 13px;
  font-size: 13px;
}
.column-new-time i,
.column-new-user i {
  margin-right: 9px;
  color: #ffc600;
}

.column-text-title {
  width: 100%;
  height: 30%;
  padding-top: 0;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #07294d;
}

/* --hover */
.column-text-title:hover{
	color: #ffc600;
	transition: 0.5s;
}

.elementor7-column img:hover {
	transform:scale(1.1);
	transition: 0.5s;
}

/* ---------Elementor8------------- */
.elementor8 {
  height: 263px;
  width: 100%;
  margin-top: 50px;
  padding: 75px 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/image/course-shape.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.elementor8-widget {
  height: 100%;
  width: 59.4%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.elementor8-widget img {
  height: auto;
  max-width: 100%;
  border: none;
}
