/* -------------------Header--------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#navbar {
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

/* --hover */
.navi:hover {
  color: #ffc600;
  transition: 0.7s;
}
.navwhite:hover {
  color: white;
  transition: 0.03s;
}
