.redirect {
  width: 100%;
  height: 290px;
  margin-top: 130px;
  padding: 25px 0 25px 0;
  background-image: url("../img/image/e1-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redirect-link {
  max-width: 100%;
  width: 1170px;
}

.link-name {
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 0;
  position: relative;
}

.link-directory {
  margin-top: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}

.form {
  width: 100%;
  height: 817.2px;
  padding: 80px 0;
}
