/* ----------------Section------------- */

.slider {
  background-repeat: no-repeat;
  background-position: 10% 25%;
  background-size: cover;
  height: calc(120vh - 100px);
  width: 100%;
  height: 947px;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-container {
  width: 1140px;
  height: 359.2px;
  position: absolute;
  top: 280px;
}

.slider-left,
.slider-right {
  font-size: 20px;
  color: white;
  width: 60px;
  height: 60px;
  border: 2px 2px 2px 2px;
  border-radius: 100%;
  border: solid;
  position: absolute;
  top: 550px;
  opacity: 0;
}

.slider-left {
  position: absolute;
  left: 40px;
}

.slider-right {
  position: absolute;
  right: 40px;
}
/* --caroucell */
.caroucell {
  background-color: #07294c;
  position: absolute;
  width: 59.375%;
  height: 337.5px;
  top: 787px;
  border-style: solid;
  padding: 80px 90px 80px 72px;
  grid: 40% 60%;
  display: flex;
  align-items: center;
}
.caroucell-widget {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-left: 100px;
}

.caroucell h2 {
  height: 72.68%;
  font-size: 40px;
  line-height: 1;
  width: 440px;
}

#white-space {
  height: 177px;
  display: flex;
  justify-content: center;
}

.caroucell-right,
.caroucell-left {
  font-size: 15px;
  width: 48px;
  height: 48px;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 100%;
  position: absolute;
}

.caroucell-right {
  position: absolute;
  right: 40px;
}
.caroucell-left {
  position: absolute;
  left: 390px;
}

.caroucell-container {
  display: flex;
  align-items: center;
  min-width: 500px;
}

.caroucell-container-item {
  padding: 20px 8px;
  margin: 0 15px;
  border-radius: 5px;
}

.caroucell-container-item img {
  width: 80px;
  height: 80px;
  margin: auto;
}
.caroucell-container-item a > p {
  text-align: center;
  font-family: "Montserrat", Sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin-top: 20px;
  font-size: 20px;
}
/* --hover */

.slider:hover .slider-left {
  opacity: 1;
  transform: translateX(15px);
  transition: all 1s;
}

.slider:hover .slider-right {
  opacity: 1;
  transform: translateX(-15px);
  transition: all 1s;
}

.slider-left:hover,
.slider-right:hover {
  background-color: #ffc600;
  color: #07294d;
}

/* --html-js-- */
.slider-container-name {
  font-weight: 600;
  font-size: 55px;
  margin-top: 10.2px;
  margin-bottom: 20px;
  color: #fff;
  line-height: 75px;
}

.slider-container-text {
  font-family: "Roboto", Sans-serif;
  color: #fff;
  margin-bottom: 60px;
}

.slider-container-button {
  margin-bottom: 30px;
}

.slider-container-button a {
  padding: 16px 33px 16px 33px;
  margin: 7px 7px 7px 7px;
  border-radius: 2px;
}
/* ------------------------------------------------ */